.inputScreen {
    height: 100px;
    width: 675px;
    font-size: 79px;
    border-radius: 10%;
    padding: 10px;
    border: 2px solid black;
}
.numButtonTable td{
    height: 70px;
    width: 225px;
    font-size: 67px;
    border: 2px solid white;
}
.numButtonTable td:hover{
    background-color: #5F5F5F;
}
.numButtonTable {
    margin-left: 22px;
    margin-right: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.numButtonTable button {
    height: 70px;
    width: 225px;
}
.numButtonTable button img {
    position: relative;
    top: 13%;
    left: 35%;
}